
body{
    background-image: url(21-36-54-823_512.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: "Dancing Script";
    text-align: center;
    overflow: hidden;
    
}